{{ define "main" }}
<div class="container my-5">
  <div class="row">
    <!-- 左栏：正文 Markdown 渲染 -->
    <div class="col-md-8">
      <div class="content-left">
        <h3>Our Project</h3>
        {{ .Content | markdownify }}
      </div>
    </div>

    <!-- 右栏：手动项目导航 -->
    <div class="col-md-4">
      <div class="content-right">
        <div class="content-right" style="font-size: 0.65rem;">
        <!--  style="border-left: 1px solid #ccc; padding-left: 20px;"> -->
    
        <h3>List</h3>

        <p><strong>Centre for Research-based Innovation (SFI)</strong></p>
        <ul>
          <li><a href="/project/sfi-move/">SFI MOVE</a> <strong>(2015–2023)</strong></li>
          <li><a href="/project/sfi-offshore/">SFI Offshore Mechatronics</a> <strong>(2015–2023)</strong></li>
        </ul>

        <p><strong>EU</strong></p>
        <ul>
          <li><a href="/project/eu-h2020/">EU H2020: Arrowhead Tools for Engineering of Digitalisation Solutions</a> <strong>(2019–2022)</strong></li>
          <li><a href="/project/eu-ria/">EU RIA: Robotic Safe Adaptation In Unprecedented Situations</a> <strong>(2024–2026)</strong></li>
        </ul>

        <p><strong>Innovation Programme for Maritime Activities and Offshore Operations (MAROFF)</strong></p>
        <ul>
          <li><a href="/project/ipn-krill/">IPN: Development of a Novel Process for the Application of Krill as Alternative Protein Source in Human Nutrition</a> <strong>(2020–2022)</strong></li>
          <li><a href="/project/ipn-krill/">IPN: Development of a Novel Process for the Application of Krill as Alternative Protein Source in Human Nutrition</a> <strong>(2020–2022)</strong></li>
          <li><a href="/project/ipn-autonomy/">IPN: Towards Ship Autonomy in Harbour Manoeuvring and Intelligent Docking</a> <strong>(2019–2021)</strong></li>
          <li><a href="/project/kpn-twinship/">KPN: Digital Twins for Vessel Life Cycle Service (TwinShip)</a> <strong>(2018–2021)</strong></li>
          <li><a href="/project/bip-roro/">BIP: Riser Operation Replacement Optimization (RORO)</a> <strong>(2018–2020)</strong></li>
          <li><a href="/project/bip-crane-arch/">BIP: A Flexible and Common Control Architecture for Rolls-Royce Marine Cranes and Robotic Arms</a> <strong>(2012–2013)</strong></li>
          <li><a href="/project/bip-crane-design/">BIP: Next Generation Simulator for Marine Crane Design and Operation</a> <strong>(2014–2016)</strong></li>
          <li><a href="/project/bip-anti-sway/">BIP: A Novel Integrated Anti-sway System for Rolls-Royce Marine Shipboard Cranes</a> <strong>(2012–2013)</strong></li>
        </ul>

        <p><strong>Regional Research Fund Mid-Norway (RFFMIDT)</strong></p>
        <ul>
           <li><a href="/project/rff-cable-install/">Dynamic Power Cable Installation Optimization for Floating Offshore Wind Farms Based on Co-simulation</a> <strong>(2020–2021)</strong></li>
           <li><a href="/project/rff-dashboard-crane/">A Dashboard System for Maritime Crane Condition Monitoring</a> <strong>(2021–2022)</strong></li>
           <li><a href="/project/rff-dynamic-planning/">Dynamic Motion Planning Based on Trajectory Prediction</a> <strong>(2019–2020)</strong></li>
           <li><a href="/project/rff-augmented-sim/">On-Board Augmented Simulation</a> <strong>(2019–2020)</strong></li>
           <li><a href="/project/gce-winch/">GCE: Virtual Prototyping System for Maritime Winch Operation</a> <strong>(2016–2017)</strong></li>
           <li><a href="/project/optimal-ship-control/">An Approach toward Optimal Control of Ship Maneuvering in Offshore Operations</a> <strong>(2016–2017)</strong></li>
           <li><a href="/project/arctic-sar/">A UAV SAR System for Oil Spill Detection in the Arctic</a> <strong>(2014–2015)</strong></li>
           <li><a href="/project/robotic-anti-fouling/">A Novel Climbing Robotic System for Ship Anti-fouling, Cleaning and Inspection</a> <strong>(2012–2013)</strong></li>
        </ul>

        <p><strong>International projects</strong></p>
        <ul>
            <li><a href="/project/marintech-romania/">MarinTech: Romanian - Norwegian strategic cooperation project</a> <strong>(2021–2023)</strong></li>
            <li><a href="/project/climbing-robot-intl/">International cooperation project: Climbing Robot Platform</a> <strong>(2011–2013)</strong></li>
        </ul>


      </div>
    </div>
  </div>
</div>
{{ end }}
