// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.hero-title {
  font-size: 2.2rem;  /* 默认约 2.5~3rem，可以调小 */
  font-weight: 600;
}

.hero-lead {
  font-size: 1rem;
  line-height: 1.4;  
}

main h1 {
  font-size: 2rem;
}

.navbar-brand {
  font-size: 1.0rem;  /* 默认约 1.5rem，可自行调小 */
  font-weight: 600;   /* 可选，控制粗细 */
}
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1rem; /* 缩小标题字体 */
    max-width: 70%;  /* 限制宽度避免遮挡菜单 */
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


//Add part outside the template
body {
  font-size: 1rem; //  14px, 18px, 1rem 
}




/* 标题字体大小调整 */
h1 {
  font-size: 2rem;     /* 默认约为 2.5rem，可调小一点 */
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
